<div class="card">
    <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
    <!-- link to individual recipe function -->
    <div class="card-content">
        <div class="card-title">
            <!-- <%= recipe.title %> -->
            <h3>
                <%= recipe.title %>
            </h3>
            <div class="favourite-icon" onclick="">
                <img src="/assets/outline-heart.png" alt="Save" onclick="addToSaved(<%= recipe.id %>)">
            </div>
            <div class="add-symbol">
                <img src="/assets/add-symbol.png" id="open-popup" alt="Add to meal planner"
                    onclick="openPopup(<%= recipe.id %>)">
                <!-- <button class="add-symbol" onclick="openPopup()">+</button> -->
                <div id="popup" class="popup-container">
                    <div class="popup">
                        <span class="close-popup" id="close-popup" onclick="closePopup()">&times;</span>
                        <h2>Select Meals</h2>
                        <select id="day-options">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                        <select id="meal-options">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                        </select>
                        <button id="add-meal" onclick="addToPlanner()">Add Meal</button>
                    </div>
                </div>
            </div>
            <strong>Recipe type:</strong>
            <%= recipe.category %> <br>
                <strong>Cook Time:</strong>
                <%= recipe.time %> <br>
                    <!-- Make a method to return missing ingredients for the recipe -->
                    <!-- <strong>Missing ingredients:</strong> Chicken, Rice, Butter, Cream <br> -->
                    <div class="rating">
                        <!-- make method to display the stars from <%= recipe.rating %> -->
                        <span class="filled">☆</span>
                        <span class="filled">☆</span>
                        <span class="filled">☆</span>
                        <span>☆</span>
                        <span>☆</span>
                    </div>
        </div>
    </div>
</div>