<div class="card" > 
    <!-- <a class="click" href="/bird/<%= bird.bird_id %>"> </a> -->
    <!-- link to individual recipe function -->
<div class="card-image">
        <div class="card-title">
            <!-- <%= recipe.title %> -->
            Butter Chicken
            <!-- <p lang="mi"><%= bird.primary_name %></p>
            <span>© <%= bird.photographer %></span> -->
        </div>
        recipe image
        <!-- <img src="/images/<%= bird.filename %>" alt="<%= bird.primary_name %>"> -->
        review stars
        <!-- <div class="circle" style="background: <%= bird.status_colour %>"></div> -->
        <div class="rating">
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
            <span>☆</span>
        </div>
    </div>
    <div class="card-content">
        recipe type - dessert, etc
        <!-- <h2 class="card-title"><%= bird.english_name %></h2> -->
        <ul>
            time to cook, missing ingredients
            <!-- <li><b>Scientific Name</b><span><%= bird.scientific_name %></span></li> -->

        </ul>
        save button
        <div class="favourite-icon" onclick="">
            <img src="/assets/outline-heart.png" alt="Favourite"> 

        add to planner button 
        <!-- <a class="button" href="/bird/edit/<%=bird.bird_id %>">Edit</a>
        <a class="button" href="/bird/delete/<%=bird.bird_id %>">Delete</a> -->
    </div>
</div>
